In [24]:
# n까지의 합 구하기

N = int(input("1~1000까지의 숫자를 입력하세요"))
con = 0
if 1 <= N <= 1000:
    for sum in range(1, N+1):
        con = con + sum
    print(con)
else: print("1~1000까지의 숫자를 입력하세요.")

1~1000까지의 숫자를 입력하세요.

In [ ]:
# n까지의 합 구하기
# 적정 숫자 입력할 때까지 input 하기
# for로 계속 돌려야하나? 다음 시간에 해봅시다.

N = int(input("1~1000까지의 숫자를 입력하세요"))
con = 0
if 1 <= N <= 1000:
    for sum in range(1, N+1):
        con = con + sum
    print(con)
else: print("1~1000까지의 숫자를 입력하세요.")

In [6]:
# 이중 for문 순서 이해하기

n=int(input())

for i in range(1, n+1):
    for j in range(1, n):
        print(i)

1
1
2
2
3
3

In [21]:
from datetime import date
date.today()

datetime.date(2021, 5, 25)

In [33]:
for a in range(1,100000):
    for b in range(a+1,100000):
        c = 1000 - a - b
        if a*a + b*b == c*c and a<b<c:
            print(a, b, c)

200 375 425

KeyboardInterrupt:

In [14]:
def add(a, b):
    print(a + b)

add(10, 20)

30

In [6]:
def add(a, b):
    """이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.""" #""" """ 독스트링: 함수 설명 추가
    return a + b

add(10, 20)
x = add(10, 20)
print(x)
print(add.__doc__) #독스트링출력 __doc__

30
이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

In [7]:
help(add)

Help on function add in module __main__:

add(a, b)
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

In [20]:
def add(a, b):
    return a + b

x = add(10, 3)
x

13

In [21]:
def one():
    return 1
x = one()
x

1

In [25]:
def not_ten(a):
    if a == 10:
        return print('not_ten')
    print(f'{a} 입니다.')
not_ten(11)
not_ten(10)

11 입니다.
not_ten

In [30]:
def sub(a, b):
    return a+b, a-b

x, y = sub(3, 8)
x, y

(11, -5)

In [32]:
def one_two():
    return (1, 2)
x = one_two()
x

(1, 2)

In [33]:
def one_two():
    return 1, 2
x = one_two()
x

(1, 2)

In [34]:
def mul(a,b):
    m = a * b
    return m
def add(a,b):
    c = a + b
    print(c)
    d = mul(a,b)
    print(d)
x, y = 10, 12
add(x,y)

22
120

In [38]:
def three():
    return(1,2,3)
three()

(1, 2, 3)

In [46]:
def dd(a,b):
    return a // b, a % b
x, y = dd(10,3)
print(f'몫: {x}, 나머지: {y}')

몫: 3, 나머지: 1

In [51]:
x, y = map(int, input().split())

def clac(x,y):
    return x+y, x-y, x*y, x/y

a, s, m, d = clac(x,y)
print(f'덧셈:{a}, 뺄셈:{s}, 곱셈:{m}, 나눗셈:{d}')

덧셈:30, 뺄셈:-10, 곱셈:200, 나눗셈:0.5

In [58]:
def print_numbers(a,b,c):
    print(a)
    print(b)
    print(c)

x = (10, 20, 30)
print_numbers(*x)

10
20
30

In [65]:
def aa(*x):
    for i in x:
        print(i)

x = (10, 20, 30, 40, 50)
aa(*x)
aa(x)

10
20
30
40
50
(10, 20, 30, 40, 50)

In [70]:
def aa(x, *y):
    print(x)
    print(y)

aa(1)
print('--------')
aa(1, 10, 20, 30, 40, 50)
print('--------')
aa(*[1,2,3,4,5,6,7,8,9,10])

1
()
--------
1
(10, 20, 30, 40, 50)
--------
1
(2, 3, 4, 5, 6, 7, 8, 9, 10)

In [76]:
def info(name, age, address):
    print(f'이름 : {name}')
    print(f'나이 : {age}')
    print(f'주소 : {address}')

info('이성수', 30, '서울')

이름 : 이성수
나이 : 30
주소 : 서울

In [77]:
info(age=30, name='이성수', address='서울')

이름 : 이성수
나이 : 30
주소 : 서울

In [85]:
def info(name, age, address):
    print('이름 : ', name)
    print('나이 : ', age)
    print('주소 : ', address)
x = {'name' : '이성수', 'age' : 30, 'address' : '서울'}
info(**x)

이름 :  이성수
나이 :  30
주소 :  서울