# 7장. 자료 구조

### 1. 스택(Stack)

In [1]:
stack = [1, 2, 3]
stack.append(4)     # push 역할
stack

[1, 2, 3, 4]

In [2]:
stack.pop()

4

In [3]:
stack

[1, 2, 3]

In [4]:
# 입력한 문자열을 거꾸로 추출
word = input('단어 입력')
word_list = list(word)
print(word_list)

result = []
for _ in range(len(word_list)):
    result.append(word_list.pop())
print(result)

[]
[]

### 2. 큐(Queue)

In [5]:
queue = [1, 2, 3, 4]
queue.pop(0)
queue

[2, 3, 4]

### 4. 세트(Set)

In [6]:
s = set([1, 2, 3, 1, 2, 3])
s

{1, 2, 3}

In [7]:
s = set((1, 2, 3))
s

{1, 2, 3}

In [8]:
# CRUD
s.add(4)
s

{1, 2, 3, 4}

In [9]:
s.add(1)
s

{1, 2, 3, 4}

In [10]:
s.update([1, 3, 5, 7])
s #중복되는 값은 추가 안되고, 새로운 값만 추가가 된다.

{1, 2, 3, 4, 5, 7}

In [11]:
s.remove(7)
s

{1, 2, 3, 4, 5}

In [12]:
s.discard(3)
s

{1, 2, 4, 5}

In [13]:
s.clear()
s

set()

In [14]:
s1 = set(range(1, 6))
s2 = set(range(3, 8))
s1, s2

({1, 2, 3, 4, 5}, {3, 4, 5, 6, 7})

In [15]:
# 합집함(Union)
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [23]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7}

In [16]:
s1, s2

({1, 2, 3, 4, 5}, {3, 4, 5, 6, 7})

In [17]:
# 교집합(Intersection)
s1.intersection(s2)

{3, 4, 5}

In [24]:
s1 & s2

{3, 4, 5}

In [18]:
# 차집합(Difference)
s1.difference(s2)

{1, 2}

In [19]:
s1 - s2 #차집합은 -로도 가능

{1, 2}

In [20]:
for i in s1:
    print(i)

1
2
3
4
5