### 여러 개 입력처리

In [3]:
a="red green blue"
a.split() #space바를 기준으로 짤라, 리스트로 변환
#r의 stringr패키지 str_split

['red', 'green', 'blue']

In [5]:
b="red,green,blue"
b.split(",") #,(comma)를 기준으로 잘라, 리스트로 변환

['red', 'green', 'blue']

In [8]:
string = input("빛의 3원색을 띄어쓰기로 구분하여 입력하세요. :")
string

'빨강 초록 파랑'

In [15]:
r,g,b=string.split(" ")
r,g,b

('빨강', '초록', '파랑')

In [19]:
#map
numbers = ["3.1","2.4","8.5"]
number_real=list(map(float,numbers))
number_real

[3.1, 2.4, 8.5]

In [21]:
map(float,numbers) #why is not tuple?

In [39]:
num1, num2, num3 = map(float,numbers)
num1, num2, num3

(3.1, 2.4, 8.5)

In [23]:
string_1 = '3.1 2.4 8.5' 
list(map(float,string_1.split()))

[3.1, 2.4, 8.5]

In [25]:
string_2 = input("실수 3개를 빈칸으로 구분하여 입력하세요. :")
string_2.split()

['3', '2', '1']

In [38]:
x,y,z = list(map(float,input("띄어쓰기로 구분하여 실수 세개 입력").split()))
x,y,z

(1.0, 2.0, 3.0)

In [37]:
x,y,z = map(float,input("띄어쓰기로 구분하여 실수 세개 입력").split())
x,y,z

(1.0, 2.0, 3.0)

In [52]:
a= list(range(5,-10,-2))
a

[5, 3, 1, -1, -3, -5, -7, -9]

## range - sequence 자료형

In [1]:
# 하나만 있으면 0부터 끝값 +1
list(range(5))

[0, 1, 2, 3, 4]

In [2]:
# 1 ~ 10
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# 1 ~ 10, 홀수
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [4]:
# 10 ~ 1, 짝수
list(range(10,1,-2))

[10, 8, 6, 4, 2]

#### 두개의 정수를 입력받아서 첫번째 값에서 부터 두번째 값까지 출력
단, 두번째 값이 첫번째 값보다 큼

In [15]:
a, b = map(int, input('두 개의 정수 입력하세요').split()) #split하면 리스트됨
a, b

(5, 10)

In [16]:
print(list(range(a, b+1)))

[5, 6, 7, 8, 9, 10]

In [18]:
a, b = map(int, input().split())
a, b

(10, 20)