# 1-1번
### 연도를 입력으로 받아 윤년인지 아닌지를 출력하는 프로그램을 작성하시오.
윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다. 
예를들어, 2012년은 4의 배수라서 윤년이지만, 1900년은 4의 배수이지만, 100의 배수이기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.

In [21]:
year = int(input('연도를 입력하세요'))
if year % 400 == 0: print(f'{year}년은 윤년이다')
elif year % 100 == 0: print(f'{year}년은 윤년이 아니다')
elif year % 4 == 0: print(f'{year}년은 윤년이다')
else: print(f'{year}년은 윤년이 아니다')

2000년은 윤년이다

# 1-2번
### 본인의 생일을 1998 12 15 과 같이 년 월 일로 입력받아 오늘 날짜의 만 나이를 구하는 프로그램을 작성하시오.

In [72]:
birth = input('yyyy-mm-dd 형식으로 본인의 생일을 적어주세요')
year = int(birth[:4])
month = int(birth[5:7])
day = int(birth[8:])

today = date.today()
age = today.year - year
if month > today.month:
    age -= 1
elif month == today.month:
    if day > today.day:
        age -= 1
print('당신의 만 나이는' , age, '세 입니다')

당신의 만 나이는 30 세 입니다

# 1-3번
### 세 자연수 a, b, c 가 피타고라스 정리 a^2 + b^2 = c^2 를 만족하면 피타고라스 수라고 부른다. (여기서 a < b < c 이고 a + b > c) 예를 들면, 3^2 + 4^2 = 9 + 16 = 25 = 5^2 이므로 3, 4, 5는 피타고라스 수입니다. a + b + c = 1000 인 피타고라스 수를 구하시오. (답은 한가지 뿐이다.)

In [77]:
for a in range(1, 333):
    for b in range(a+1, 500):
        c = 1000 - a - b
        if a*a + b*b == c*c and a<b<c:
            print(a, b, c)

200 375 425

# 2-1번
### (별 그리기)
5이상 9이하의 홀수를 입력받아 다이아몬드 형태의 별을 출력하는 프로그램을 작성하시오.
		 
예) N=7		   
		       *
			  ***
			 *****
			*******			 
			 *****
			  ***
			   *

In [ ]:
for i in range(1, 6):
    for k in range(i):
        print('+', sep='',end='')
    print()

    for i in range(1, 6):
    for k in range(1, i):   # blank 출력
        print(' ', sep='', end='')
    for k in range(5-i+1):   # 별표 출력
        print("*", sep='', end='')
    print()

In [96]:
n = 7
for i in range(1, n+1):
    for k in range(4-i, 1-i):
       print(" ", sep='', end='')
    for k in range(1, i):
        print("*", sep="", end="")
    print()
   

#for k in range(i):
#  print("*", sep='', end='')
#print()
    
    
# 블랭크는 
    #i=1 이면 3
    #i =2 이면 2
    #i=3 이면 1
    #i=4 이면 0

# 별은 i = 1이면 1, i=2 이면 3, 1=3이면 5, i=4이면 7
# 모르겠습니다! 너무 어려워요!

*
***
*****
*******